<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var socket = io.connect('http://localhost:8888');
        console.log(socket);

        socket.on('yelp stuff', function(data) {
              renderData(data);
        });

        if (document.cookie.length > 0) {
            $('#searchCity').val(document.cookie.substring(11));
            socket.emit('chat message', document.cookie.substring(11));
        };



        $('#searchBtn').click(function() {
            socket.emit('chat message', $('#searchCity').val());
            document.cookie = "lastSearch=" + $('#searchCity').val();
          //  console.log(document.cookie);
            //$('#searchCity').val('');
            return false;
        });
        $('#showCookie').click(function() {
            console.log(document.cookie);
            //$('#searchCity').val('');
            return false;
        });

    });

    function renderData(datas){
      var renderOutputString = "";
      console.log(datas)
console.log(datas["id-1"].name)
for (var i = 1; i<20; i++){
renderOutputString += "<div><img src='" + datas["id-" + i].image + "'/></div>";
}
$('#results').html(renderOutputString);
  /*    for (var i = 0; i<data.length; i++){
        console.log(data)
        image = data[0];
        console.log(image)
        renderOutputString += "<div><img src='" +  + "'/></div>"
      }
      $('#results').text(renderOutputString);
      */
    }
</script>


<head>
    <meta charset="utf-8">
    <title>Where are you going tonight?</title>
    <!-- Latest compiled and minified CSS -->



</head>

<body id="home">
    <div style="text-align: center">
        <h1>Where are you going tonight?</h1>
        <h4>Nightlife Coordnation by: Carl Kashnier</h4>
        <% if (user){ %>
        <h4> Welcome, <span><%= user.facebook.name %></span></h4>
        <% }else{ %>
          <span>Please register or login!<br> <a href='/auth/facebook' class='btn btn-primary'><span class='fa fa-facebook'></span> Facebook</a></span>
          <% }; %>

        <div class="input-append">
            <input id="searchCity" type="text" placeholder="City: Cleveland" />
            <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
        </div>
        <button type="button" class="btn btn-primary" id="showCookie">ShowCookie</button>
        <div id="results">

        </div>
    </div>
</body>

</html>
