<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var socket = io.connect('http://localhost:8888');
        console.log(socket);

        socket.on('yelp stuff', function(data) {
              renderData(data);
        });

        if (document.cookie.length > 0) {
            $('#searchCity').val(document.cookie.substring(11));
            socket.emit('chat message', document.cookie.substring(11));
        };



        $('#searchBtn').click(function() {
            socket.emit('chat message', $('#searchCity').val());
            document.cookie = "lastSearch=" + $('#searchCity').val();
          //  console.log(document.cookie);
            //$('#searchCity').val('');
            return false;
        });

        $(document.body).on("click",'.btn', function(e) {
          socket.emit('going', $(this).attr('id'));
            // Your code here
        });

    function renderData(datas){
      var renderOutputString = "";
<% if (user == undefined) { %>
var places = []
<% } else {%>
var places = <%- user.places.tonight %>;
<% } %>
 places = places.toString()

for (var i = 1; i<20; i++){
var buttonColor = "btn";

if (places.indexOf(datas["id-" + i].phone) != -1){
  buttonColor = "btn btn-primary'>I'm going with " + (datas["id-" + i].count -1 || 0) + " others!";
} else {
  buttonColor = "btn'>"  + (datas["id-" + i].count || 0) +" others are going.";
}
<% if (user == undefined) { %>
  renderOutputString += "<div style='margin: auto;width: 400px;'><img src='" + datas["id-" + i].image + "'/>"+ "<br>Stars: " + datas["id-" + i].rating + " Name: " + datas["id-" + i].name+ ": " + datas["id-" + i].description +"<br><button type='button' id='IGO-" + datas["id-" + i].phone + "-" + "login" + "' class='"+ buttonColor +"</button></div>";
  }
<% } else {%>
  renderOutputString += "<div style='margin: auto;width: 400px;'><img src='" + datas["id-" + i].image + "'/>"+ "<br>Stars: " + datas["id-" + i].rating + " Name: " + datas["id-" + i].name+ ": " + datas["id-" + i].description +"<br><button type='button' id='IGO-" + datas["id-" + i].phone + "-" + <%- user.facebook.id %> + "' class='"+ buttonColor +"</button></div>";
  }
<% } %>

$('#results').html(renderOutputString);
    }
  })
</script>


<head>
    <meta charset="utf-8">
    <title>Where are you going tonight?</title>
    <!-- Latest compiled and minified CSS -->



</head>

<body id="home">
    <div style="text-align: center">
        <h1>Where are you going tonight?</h1>
        <h4>Nightlife Coordnation by: Carl Kashnier</h4>
        <% if (user){ %>
        <h4> Welcome, <span><%= user.facebook.name %></span></h4>
        <% }else{ %>
          <span>Please register or login!<br> <a href='/auth/facebook' class='btn btn-primary'><span class='fa fa-facebook'></span> Facebook</a></span>
          <% }; %>

        <div class="input-append">
            <input id="searchCity" type="text" placeholder="City: Cleveland" />
            <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
        </div>
        <div id="results">

        </div>
    </div>
</body>

</html>
